body {
			padding: 0;
			margin: 0;
		}

		html,
		body,
		#map {
			height: 100%;
			width: 100%;
		}

		.leaflet-popup-content-wrapper {
			width: 420px;
			height: 400px;
		}

		iframe {
			width: 400px;
			height: 350px;
		}